<h3>Sign Up</h3>
<%if @username_error%>
  <p style='color:red;'>Username is already in use.</p>
<%end%>
<%if @email_error%>
  <p style='color:red;'>Email is already in use.</p>
<%end%>
<%if @save_error%>
  <p style='color:red;'>Account save error. Please try again.</p>
<%end%>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>

<p>Already have an account?</p>
<a href = '/login'>Log In</a>
