<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
  </head>
  <body>
    <%if logged_in?%>
      <a href = '/show'>Home</a>
      <a href = '/books/new'>Add Book</a>
      <a href = '/books/edit'>Edit Book</a>
      <a href = '/books/remove'>Remove Book</a>
      <a href = '/logout' style="float:right">Logout</a>
    <%else%>
      <a href = '/'>Home</a>
    <%end%>
    <a href = '/books/list'>Book List</a>
    <a href = '/authors/list'>Author List</a>
    <%= yield %>
  </body>
</html>
