<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
  </head>
  <body>
    <%if !!session[:user_id]%>
      <a href = '/show'>Home</a>
    <%else%>
      <a href = '/'>Home</a>
    <%end%>
    <%= yield %>
  </body>
</html>
